<a href="https://colab.research.google.com/github/orickprazeres/Challenge-Data-Science-1ed/blob/main/PY401/Aula_1_Introdu%C3%A7%C3%A3o_ao_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a align="left" href="http://escola.sigmoidal.ai/assinar-eds/" target="_blank">
<img width="600", src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/py401_banner.png"></a>

Esse √© um **material de apoio do curso üöÄ PY-401: Introdu√ß√£o √† Ci√™ncia da Computa√ß√£o e Programa√ß√£o com Python**, do *Nanodegree* Python.<br>.

## Operadores Aritm√©ticos

Nesta aula, vou te mostrar quais s√£o os operadores aritm√©ticos do Python, al√©m da sua ordem de preced√™ncia quando compondo uma express√£o matem√°tica.

Os operadores aritm√©ticos do Python s√£o:

* `+` Adi√ß√£o
* `-` Subtra√ß√£o
* `*` Multiplica√ß√£o
* `/` Divis√£o
* `**` Exponencia√ß√£o
* `//` Divis√£o (resultado inteiro)

Abaixo, podemos ver exemplos de uso desses operadores.

In [1]:
# adi√ß√£o
13 + 45 + 89 + 90

237

In [2]:
# subtra√ß√£o
87 - 700

-613

In [3]:
# multiplica√ß√£o
7 * 10

70

In [4]:
# divis√£o (resultado inteiro)
70 // 3

23

In [5]:
# divis√£o
70 / 3

23.333333333333332

In [6]:
70%3

1

$$
7^2
$$

In [7]:
# exponencia√ß√£o
7 ** 2

49

## Ordem de preced√™ncia

Se j√° faz um tempo desde o seu √∫ltimo contato com a matem√°tica, vale a pena relembrarmos a ordem correta das opera√ß√µes matem√°ticas.

$$
\begin{aligned}
x & = 3 + 10 * 3 \\
x & = 3 + (10 * 3) \\
x & = 3 + 30 \\
x & = 33
\end{aligned}
$$

Lembre-se que a ordem das opera√ß√µes matem√°ticas √©:

* 1¬∫ Par√™ntesis;
* 2¬∫ Expoentes;
* 3¬∫ Multiplica√ß√µes e Divis√µes; (da esquerda para a direita)
* 4¬∫ Somas e Subtra√ß√µes. (da esquerda para a direita)

Vamos ver como isso funciona na pr√°tica com Python.

In [8]:
# primeiro √© resolvida a multiplica√ß√£o e depois a subtra√ß√£o
10 * 3

30

In [9]:
9 + (9/2)

13.5

In [10]:
# multiplicamos, e depois somamos o resultado
3 + 30

33

Mesmo acrescentando um pouquinho mais de complexidade, o Python consegue lidar com extrema facilidade, cabendo a n√≥s termos aten√ß√£o √†s opera√ß√µes realizadas.

$$
\begin{aligned}
x & = 5 + 9 - 2^2 + \frac{9}{3} \\
x & = 5 + 9 - 4 + \frac{9}{3} \\
x & = 5 + 9 - 4 + 3 \\
x & = 14 - 4 + 3 \\
x & = 10 + 3 \\
x & = 13 \\
\end{aligned}
$$

In [11]:
# resolu√ß√£o da equa√ß√£o acima usando Python
5 + 9 - 2**2 + 9/3

13.0

In [12]:
5 + 9 - (2**2) + (9/3)

13.0

Express√µes maiores podem confundir, ent√£o o segredo √© anotar a correta ordem de execu√ß√£o das opera√ß√µes matem√°ticas:

1. Par√™ntesis
2. Expoentes
3. Multiplica√ß√µes e Divis√µes (esquerda para a direita)
4. Somas e subtra√ß√µes (esquerda para a direita)

#### Exemplo 1

Calcula a m√©dia simples das notas das 3 provas de matem√°tica
* Nota 1 = 8,5
* Nota 2 = 9,2
* Nota 3 = 7,5

In [13]:
# resposta
(8.5 + 9.2 + 7.5) / 3

8.4

#### Exemplo 2

Qual a √°rea de 

* O volume de uma esfera √© calculada por meio da express√£o $V = \frac{4}{3} \pi r^3$.
* Calcule o volume de uma esfera de 5 metros?

In [14]:
# resposta
4/3 * 3.14 * 5 ** 3

523.3333333333334

In [15]:
# resposta
(4/3) * (3.14) * (5 ** 3)

523.3333333333334

## Exerc√≠cios

Agora que vimos como utilizar os operadores, vamos resolver algumas equa√ß√µes.
<center><img alt="Math" width="35%" src="https://image.freepik.com/free-vector/people-budgeting-order-plan-personal-finance_53876-64613.jpg"></center>

#### Exerc√≠cio 1

Calcule:
$$
\begin{aligned}
x & = 15 - 5 + 3^2 \\
\end{aligned}
$$

In [16]:
# resposta
15-5+(3**2)

19

In [17]:
#@title Solu√ß√£o
15 - 5 + (3**2)

19

#### Exerc√≠cio 2

Calcule:

$$
\begin{aligned}
x & = 20 + 5  /  7 * 9 \\
\end{aligned}
$$

In [18]:
# resposta
20 + (5/7)*9

26.42857142857143

In [19]:
#@title Solu√ß√£o
20+(5/7) * 9

26.42857142857143

#### Exerc√≠cio 3

Calcule:

$$
\begin{aligned}
x & = 17 * 3  - 4^2  / 3 \\
\end{aligned}
$$

In [20]:
# resposta
(17*3) - (4**2)/3

45.666666666666664

In [21]:
#@title Solu√ß√£o
(17*3) - (4**2 /3)

45.666666666666664

## Vari√°veis em Python

Em Python, podemos associar valores a vari√°veis, para que sejam armazenados e facilmente acessados ao longo do seu c√≥digo.

Pense na vari√°vel como um "nome" para o objeto que estamos manipulando.

Diferente de outras linguagens, as vari√°veis n√£o precisam ser definidas anteriormente, podemos cri√°-las no momento da associa√ß√£o

Para associarmos um valor a uma vari√°veis, basta usar o operador que indica associa√ß√£o `=`.

In [22]:
# associando o n√∫mero 300 √† vari√°vel x
x = 300

Ap√≥s associarmos o valor 300 √† vari√°vel `x`, podemos acess√°-la utilizando a mesma, ou mesmo a fun√ß√£o `print`.

In [23]:
# chamando a vari√°vel diretamente
x

300

In [24]:
# imprimindo a vari√°vel com print
print(x)

300

In [25]:
print("Hello, World!")

Hello, World!

Tamb√©m podemos associar um novo valor a essa vari√°vel, para que a partir desse momento, ela assuma um novo valor.

In [26]:
x=300

print("Valor antigo: ", x)

x = 100

print("\nValor novo:", x)

Valor antigo:  300

Valor novo: 100

## Tipos de Vari√°veis

Al√©m de utilizarmos `integers`, ou inteiros, podemos usar outros tipos de vari√°veis como `strings`, ou `floats`.

Vamos ver na pr√°tica como isso fucniona.

### Integers
Para utilizar inteiros, basta criar a vari√°vel como tal, sem valores decimais.

In [27]:
# integers
x = 50
print(x)

50

### Floats
Ao utilizar Floats, precisamos ter cuidado com uma detalhe. A v√≠rgula, em Python, serve pra enumera√ß√£o, e n√£o para casas decimais.

Para definir casas decimais, vamos utilizar o ponto `.`

Para criar um float, basta associar √† vari√°vel um n√∫mero que possua casa decimal.

In [28]:
# float
x = 25.0
print(x)

25.0

### Strings
Strings s√£o nossa linguagem natural, utilizando caracteres e palavras.

Para criar strings, precisamos colocar nosso conte√∫do entre aspas, simples ou duplas.

In [29]:
# string
x = "Data Science √© a profiss√£o mais sexy do mundo."
print(x)

Data Science √© a profiss√£o mais sexy do mundo.

In [30]:
x = 25.0
type(x)

float

## Verificando o Tipo da Vari√°vel

√â claro que voc√™ vai sempre criar as vari√°veis da forma desejada, e seguindo os padr√µes para n√£o encontrar erros ou problemas no seu c√≥digo.

Entretanto, n√£o √© incomum encontrarmos, por exemplo, n√∫meros que est√£o em formato string, e por isso, se comportar√£o como tal, n√£o permitindo opera√ß√µes matem√°ticas, por exemplo.

Para que possamos descobrir o tipo das nossas vari√°veis, temos a fun√ß√£o `type`.

In [31]:
# imprimindo a vari√°vel
x = 100
print(x)

# verificando o tipo
type(x)

100

int

### Criando Vari√°veis a Partir de Vari√°veis

Tamb√©m podemos criar c√≥pias das vari√°veis, associando novas vari√°veis a ela.

Isso nos permite explorar a vari√°vel sem alterar a original.

In [32]:
# criando uma vari√°vel atrav√©s da vari√°vel original
print("Vari√°vel x: ", x)

y = x

print("Vari√°vel y: ", y)

Vari√°vel x:  100
Vari√°vel y:  100

Podemos fazer isso com qualquer tipo de vari√°vel.

Tamb√©m podemos criar a nova vari√°vel a partir de uma opera√ß√£o feita com a vari√°vel original.

In [33]:
# criando uma nova vari√°vel com opera√ß√µes
x = 10

y = x * 10

print(y)

100

√â importante entender que o relacionamento entre as duas acaba no momento da associa√ß√£o. 

Ap√≥s isso, elas funcionam independentes uma da outra, portanto, altera√ß√µes feitas em uma n√£o afetam a outra.

In [34]:
# criando as vari√°veis
print('Criando as Vari√°veis')
x = 10

y = x
# resultado
print('x:', x)
print('y:', y)


print('\nTransforma√ß√£o x = y + 10')
x = y + 10
# resultado
print ('Novo x:', x)
print ('y:', y)


print('\nTransforma√ß√£o y = y/2')
y = y/2

# resultado
print('x:', x)
print('Novo y:', y)

Criando as Vari√°veis
x: 10
y: 10

Transforma√ß√£o x = y + 10
Novo x: 20
y: 10

Transforma√ß√£o y = y/2
x: 20
Novo y: 5.0

## Exerc√≠cios

Agora, vamos testar nosso conhecimento sobre as vari√°veis.

#### Exerc√≠cio 1

Crie uma vari√°vel do tipo `integer`, chamada x, e associe a ela sua idade.

In [35]:
# resposta
x = 2022-1996
x

26

In [36]:
#@title Solu√ß√£o
x = 36

#### Exerc√≠cio 2

Crie uma vari√°vel do tipo `float`, chamada y, e associe a ela o pre√ßo de uma barra de chocolate.

In [37]:
# resposta
y = 7.99
print(f'{y} type: {type(y)}')

7.99 type: <class 'float'>

In [38]:
#@title Solu√ß√£o
y = 2.99

#### Exerc√≠cio 3
Crie uma vari√°vel do tipo `string`, chamada `nome` e associe a ela o seu nome.

In [39]:
# resposta
nome = 'Ricardo Sousa'
nome

'Ricardo Sousa'

In [40]:
#@title Solu√ß√£o
nome = "Sigmoidal "

#### Exerc√≠cio 4

Verifique o tipo das vari√°veis `x`, `y`, `nome`.

Dica: A fun√ß√£o print vai ajudar a fazer tudo em uma c√©lula s√≥.

In [41]:
# resultado
print(f'x: {type(x)}')
print(f'y: {type(y)}')
print(f'nome: {type(nome)}')

x: <class 'int'>
y: <class 'float'>
nome: <class 'str'>

In [42]:
#@title Solu√ß√£o
print('x:', type(x))
print('y:', type(y))
print('nome:', type(nome))

x: <class 'int'>
y: <class 'float'>
nome: <class 'str'>

#### Exerc√≠cio 5

Crie uma vari√°vel que seja que calcule o ano em que voc√™ nasceu, utilizando operadores matem√°ticos e sua vari√°vel `x`.

In [43]:
# resultado
x = 2022 - 1996
x

26

In [44]:
#@title Solu√ß√£o
x = 2020 - x
print(x)

1994

### Exerc√≠cio 6

Crie uma vari√°vel para o pre√ßo de 3 barras de chocolate, usando a vari√°vel `y`.

In [50]:
# resultado
y = 6.99
print(y)

y= y*9
print(y)

6.99
62.910000000000004

In [46]:
#@title Solu√ß√£o
y = y * 3
print(y)

(6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99, 6, 99)

### Exerc√≠cio 7
Crie uma vari√°vel que contenha o seu nome 10 vezes, utilizando a vari√°vel `nome`.

In [49]:
# resultado
nome = 'Ricardo'
nome = nome *10
print(nome)

RicardoRicardoRicardoRicardoRicardoRicardoRicardoRicardoRicardoRicardo

In [48]:
#@title Solu√ß√£o
nome = 'Carlos'
nome = nome * 10
print(nome)

CarlosCarlosCarlosCarlosCarlosCarlosCarlosCarlosCarlosCarlos